.venv/
venv/
.ipynb_checkpoints/
__pycache__/
*.csv
*.jpeg
*.jpg
*.png
*.numbers
.env# macOS system files
.DS_Store

# Python virtual environments
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/
